<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Puzzles</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Login Filter -->
  
  <filter>
  	<filter-name>RequestLoggingFilter</filter-name>
  	<filter-class>controller.filters.login.RequestLoggingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>RequestLoggingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  	<dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  
  
  <!-- Authentication Filter -->
  <filter>
  	<filter-name>AuthenticationFilter</filter-name>
  	<filter-class>controller.filters.login.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>AuthenticationFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  	
  </filter-mapping>
 
 


</web-app>